{% extends 'base.html' %}
{% load static %}

{% block page_title %}Quote{% endblock %}
{% block extra_header %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container p-4">
        <div class="row text-center">
            <div>
                <img src="{{ logo }}" alt="logo" style="max-height: 150px; max-width: 80%"/>
            </div>
        </div>
        <div class="row text-center p-4">
            <div>
                Thank you for submitting your quote.  We will be in touch with you shortly with your à la carte options.<br>
                If you have any questions in the meantime feel free to call us at (855) 581-1554.
            </div>
        </div>
        <div class="row">
            <h4>Items Shipping</h4>
        </div>
        {% for option in options %}
            <div class="row ">
                <div class="col-12">
                    {{ option }}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-12 col-md-6 pt-4">
                <h4>Shipping From</h4>
                {{ auction_address|safe }}
            </div>
            <div class="col-12 col-md-6 pt-4">
                <h4>Shipping To</h4>
                {{ address|safe }}
            </div>
        </div>

    </div>
{% endblock %}