<div class="col-12 offset-0 col-md-6 offset-md-3 pb-2">
    <h3>Customer</h3>
</div>
<div class="col-12 offset-0 col-md-6 offset-md-3 pb-2">
    <div class="fieldWrapper">
        {{ contact_form.bill_to_name }}
        {{ contact_form.bill_to_name.errors }}
    </div>
</div>
<div class="col-12 offset-0 col-md-6 offset-md-3 pb-2">
    <div class="fieldWrapper">
        {{ contact_form.bill_to_phone }}
        {{ contact_form.bill_to_phone.errors }}
    </div>
</div>
<div class="col-12 offset-0 col-md-6 offset-md-3 pb-2">
    <div class="fieldWrapper">
        {{ contact_form.bill_to_email }}
        {{ contact_form.bill_to_email.errors }}
    </div>
</div>
<div class="col-12 offset-0 col-md-6 offset-md-3 pb-2 pt-4">
    <h3>Designer</h3>
</div>
<div class="col-12 offset-0 col-md-6 offset-md-3 pb-2">
    <div class="fieldWrapper">
        {{ contact_form.designer_name }}
        {{ contact_form.designer_name.errors }}
    </div>
</div>
<div class="col-12 offset-0 col-md-6 offset-md-3 pb-2">
    <div class="fieldWrapper">
        {{ contact_form.designer_phone }}
        {{ contact_form.designer_phone.errors }}
    </div>
</div>
<div class="col-12 offset-0 col-md-6 offset-md-3 pb-2">
    <div class="fieldWrapper">
        {{ contact_form.designer_email }}
        {{ contact_form.designer_email.errors }}
    </div>
</div>