{% extends 'base.html' %}
{% load static %}

{% block page_title %}Quote Created{% endblock %}
{% block start_styles %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-12 pt-4 pb-4">
            <div class="row">
                Thank you for choosing 4CL for your shipping needs.  From this page you can find the latest information on your quote.
            </div>
            {% if not quote.paid %}
            <div class="row pt-2">
                <div>
                    Select or update your delivery options <a href="{% url 'quotes:option-select' quote.encoding %}">View</a>
                </div>
            </div>
            {% endif %}
            {% if not quote.paid and quote.get_selected_option %}
            <div class="row pt-2">
                <div>
                    Pay your quote <a href="{% url 'quotes:quote-pay' quote.encoding %}">View</a>
                </div>
            </div>
            {% endif %}
            {% if quote.paid %}
            <div class="row pt-2">
                We have received your payment.
            </div>
            <div class="row pt-2">
                Your items are in good hands we will be in contact with you as we package and ship to you.
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
